html {
  background: #fdf6e3;
  color: #073642;
}

a {
  color: #268bd2;
}

a:hover,
a:focus {
  color: #cb4b16;
}

.content {
  max-width: 80ch;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
}

li:hover {
  background: #eee8d5;
}

li + li {
  margin-top: 0.5rem;
}

li a {
  padding: 1rem;
}

li > a:first-child {
  display: block;
  flex-grow: 1;
}

li > a:last-child {
  display: block;
  text-align: right;
  font-size: 0.8rem;
  flex-grow: 0;
  flex-shrink: 0;
}
